header, section, footer, aside, nav, main, article, figure {
    display: block;
}

body {
    color: black;
    background-color: #FFFFFF;
}

h1 {
    margin-left: 190px;
    text-align: center;
    color: black;
}

nav {
    display: none;
}

nav ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1.5em;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #0b059b;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #9b1517;
}

figure {
    display: none;
}

figcaption {
    text-align: center;
    color: #FFFFFF;
}

main ul {
    position: absolute;
    top: 150px;
    font-size: 1.2em;
}

#skyline {
    width: 1150px;
    height: 500px;
    background-image: url(skyline.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 2.5px solid #FFFFFF;

}

main {
    margin-left: 190px;
}
