header, main, nav, footer, figure, figcaption, aside, section, article {
    display: block;}
main{
    padding-top: 1px;
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    display: block;
    margin-left: 100px;
    background-color: #f9ffe2;
}
body{
    background-color: #f9ffe2;
    background-size: 100%;
    background: url(flag.jpg);
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
}
p{
    font-size: 17px;
}
h1{
    text-align: center;
    height: 90px;
    background: #18690a no-repeat;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 60px;
}
h2{
    background-color: #f9ffe2;
    padding-top: 0;
    margin-top: -100px;
    margin-left: 200px;
    font-weight: bold;
    font-size: 45px;
}
h3{
    font-weight: bold;
    font-size: 35px;
    padding: 0;
    margin: 0;
}
h4{
    margin-top: -45px;
    text-align: left;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #f9ffe2;
    min-width: 1050px;
    max-width: 2048px;
    min-height: 550px;
    box-shadow: 3px 3px 3px #333333;
}

#nav ul {
    padding-left: 0;
    margin: 10px;
    list-style-type: none;
    font-size: 1.2em;
    text-align: left;
}
#nav a{
    color: #18690a;
    text-underline: none;
}
#sub ul{
    margin: 0;
}
#menu ul{
    margin-top: -20px;
    padding: 0;
    text-align: left;
}
footer{
    text-align: center;
    background-color: #f9ffe2;
}
#audio{
    float:left;
}
#fireplace{
    background-image: url("canoli.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 375px;
    height: 375px;
    float: right;
}
iframe{
    margin-top: -35px;
    margin-right: 10px;
    border: dotted;
}
label {
    float: left;
    display: block;
    text-align: left;
    width: 120px;
    padding-right: auto;
    font-size: 17px;
}

input {
    display: block;
    margin-bottom: 20px;
}
