
body{ 
	color: #666666;
	background-color: #4F6D93;
	background-image: linear-gradient(to bottom,#FFFFFF, #4F6D93);
	font-family: 'Roboto', sans-serif; font-weight: 400;
	}
#wrapper{
	margin-left: auto;
	margin-right: auto;
	width : 80%;
	background-color: #90C7E3;
	min-width: 960px;
	max-width: 2048px;
	box-shadow: 3px 3px 3px #333333;
}

header{
	
}
h1{ 
	background-color: #000033;
	margin-bottom: 0;
	margin-top: 0;
	background-image: url(Ch7sunset.jpg);
	background-repeat: no-repeat;
	background-position: right;
	font-family: 'Roboto', sans-serif; font-weight: 400;
	text-align: center;
	height: 60px;
	padding-top: 15px;
	}
#nav{
	padding: 20px;
	float: left;
	width: 160px;
}
#nav ul {
	padding-left: 0;
	margin: 0;
	list-style-type:  none; 
	font-size: 1.2em;
}
nav a:link{
	color: #000033;
}
nav a:visited{
	color: #344873;
}
nav a:hover{
	color: #FFFFFF;
}
main {
	background-color: #FFFFFF;
	padding-top: 1px;
	padding-right: 20px;
	padding-left: 30px;
	padding-bottom: 20px;
	display: block;
	margin-left: 190px;
}
main ul{
	list-style-image: url(Ch7marker.gif);
}
h2{
	color: #3399CC;
	font-family: 'Roboto', sans-serif; font-weight: 400;
	text-shadow: 1px 1px 1px #CCCCCC;
}
h3{
	color: #3399CC;
	font-family: 'Roboto', sans-serif; font-weight: 400;
}
dt{
	color: #000033;
}	
#homehero{
	height: 300px;
	background-image: url(Ch7coasthero.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}

#yurthero{
	height: 300px;
	background-image: url(Ch7yurthero.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}

#trailhero{
	height: 300px;
	background-image: url(Ch7trailhero.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}
.resort {
	color: #5C7FA3;
	font-weight: bold;
}	
	
#contact{
	font-size: 90%;
}
footer{
	font-size: 75%;
	text-align: center;
	font-style: italic;
	font-family: 'Roboto', sans-serif; font-weight: 400;
	padding: 20px;
	margin-left: 190px;
	background-color: #FFFFFF;
}